// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #22bdfc;
$color-primary-light: #7BF1A8;
$color-primary-dark: #3ae97d;

$color-white: #fff;
$color-dark: black;

$color-gray-light-1: #eee;
// $color-gray-light-2: #eee;
// $color-gray-light-3: #eee;

$color-gray-dark-1: #333;
// $color-gray-dark-2: #333;
// $color-gray-dark-3: #333;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;